.container {
  max-width: 112rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}
.header {
  height: 7rem;
  background-color: white;
  border-bottom: 2px solid var(--color-grey-light-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  .logo {
    width: 6rem;
    max-width: 100%;
  }
  .user-nav {
    display: flex;
    &__btn {
      border: none;
      background-color: transparent;
    }
    &__avatar {
      img {
        width: 5rem;
        height: 5rem;
        max-width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .search {
    flex: 0 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
      font-family: inherit;
      background-color: var(--color-grey-light-2);
      border: none;
      padding: 0.7rem 2rem;
      border-radius: 20rem;
      width: 80%;
      transition: all 0.4s;
      margin-right: -3.5rem;

      &::-webkit-input-placeholder {
        color: var(--color-grey-dark-3);
        font-size: inherit;
      }

      &:focus {
        width: 100%;
      }
    }
    &__button {
      border: none;
      color: var(--color-grey-dark-2);
      &:focus {
        outline: none;
      }
    }
  }
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 18%;
}
.hotel-view {
  flex: 1;
}
